<section class="content-header">
  <h1>{{view.label.title}}</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{view.label.domain}}</a></li>
    <li class="active">{{view.label.product}}</li>
  </ol>
</section>
<!-- Main content -->
<section class="content"></section>
<!-- /.content -->