<div class="ctl">
  <a href="#" class="btn btn-sm"><i class="glyphicon glyphicon-plus-sign"></i> {{view.label.newBatch}}</a>
  <a href="#" class="btn btn-sm btn-create"><i class="glyphicon glyphicon-plus"></i> {{view.label.newOne}}</a>
</div>
<div class="list"></div>